<h1>Edit project</h1>

<%= form_for(@project) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
 <%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>

<% end %>

