<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @vehicle.ID %>
</p>

<p>
  <b>Type:</b>
  <%= @vehicle.Type %>
</p>

<p>
  <b>Capacity:</b>
  <%= @vehicle.Capacity %>
</p>


<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
